!primary_color = #4B7399
!min_container_height = 600px

body
  :background-color = !primary_color
  :font
    :family Verdana, Helvetica, Arial
    :size 14px

table
  :border 1px solid #bbb
  th, td
    :border 1px solid #ccc

a
  :color #0000FF
  img
    :border none

.clear
  :clear both
  :height 0
  :overflow hidden

#container
  :position relative
  :width 999px
  :margin 0 auto
  :background #fff
  :padding 20px 30px
  :border solid 1px black
  :margin-top 20px
  :overflow hidden
  :zoom 1
  .twitter
    :position absolute
    :top 43px
    :right 30px
  #footer
    :clear both
    :font-size 80%
    :color #555
  #main, #main-full, #sidebar
    :margin-bottom 20px
  #main
    :float left
    :width 680px
  #feedback
    :position absolute
    :top 85px
    :right 30px
    :width 151px
    :font-size 9px
    :background #eeffaa
    :padding 0 5px
  #sidebar
    :float right
    :width 250px
    :margin-top -30px
    :padding 0 20px 20px 20px
    :background-color #eeeeee
    .urtak
      :min-height 345px
      :height 345px
    .facebook
      :margin-top 20px

#flash_notice,
#flash_error
  :width 650px
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background-color #CFC
  :border solid 1px #6C6

#flash_error
  :background-color #FCC
  :border solid 1px #C66

.fieldWithErrors
  :display inline

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc

td.missing
  :background-color #fed8d8
  
tr.incumbent
  :background-color  #d9dbfd
  
div.ward_title
  :overflow auto
  :zoom 1
  h2
    :float left
    :margin-right 10px
    :margin-bottom 0
  p
    :float left
    :padding-top 16px
    :font-size 10px

.grey
  :color #777
  
.small
  :font-size .8em
  
.candidates, .incumbents
  :overflow hidden
  :zoom 1
  .candidate
    :padding-left 10px
    :background-color #eeeeee
    :width 300px
    :float left
    :margin 0 20px 20px 0 
    .image
      :float right
    .icons
      a img
        :border-bottom 2px solid blue
    .ward
      :color #777
      :font-weight bold
      :font-size 1.2em
      :margin 10px 0
      .since
        :font-weight normal
        :font-size 0.65em
        :margin-top 0
    .phone, .news_text
      :margin 0 0 0.5em 0
      :font-size 0.75em

.candidates
  .candidate
    :height 160px
        
.candidates, .incumbents
  .show_ward
    :height 205px
    
div.ward_map
  img
    :border none
    
.percent90
  :width 90%
  
ul.mentions
  :overflow hidden
  :zoom 1
  :list-style none
  :padding-left 0
  li
    :float left
    :width 200px
    :height 1.4em
    :display inline

span.incumbent_link
  a
    :font-style italic
    :font-size 0.75em
    :text-decoration none
  a:hover
    :text-decoration underline


ul.pagination
  :margin 0
  :padding 0
  li.selected span
    :padding 2px 3px
    :background gray
    :color white
    :border 1px solid gray
  .gap_before:before
    :content "... "
  li.page
    :display inline
    a
      :padding 2px 3px
      :text-decoration none
      :border 1px solid gray
    a:hover
      :background gray
      :color white
  li.symbol
    :color gray
    span:hover
      :background white
      :color gray

div#related_news
  :font-size 0.95em
  blockquote
    :font-family Georgia, times, serif
  h3
    :color #555

.hidden
  :display none