body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #3b59bb;
  text-decoration: none; }
  a img {
    border: none; }

a:hover {
  text-decoration: underline; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#header {
  width: 1001px;
  height: 74px;
  margin: 0 auto;
  background-image: url(/images/building.gif);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 24px; }
  #header h1 {
    font-family: Georgia, "Bitstream Charter", serif;
    font-size: 41px;
    font-style: italic;
    margin-top: 0;
    color: #202040; }

h1, h2, h3, h4, h5 {
  font-family: Georgia, "Bitstream Charter", serif; }

#container {
  position: relative;
  width: 999px;
  margin: 0 auto;
  background: white;
  padding: 0 15px 20px 15px;
  overflow: hidden;
  zoom: 1; }
  #container .twitter {
    position: absolute;
    top: 5px;
    right: 20px; }
  #container #footer {
    clear: both;
    font-size: 80%;
    color: #555555;
    margin-top: 30px; }
  #container #main, #container #main-full, #container #sidebar {
    margin-bottom: 20px; }
  #container #main, #container #main-full {
    margin-top: 20px; }
  #container #main {
    float: left;
    width: 700px; }
  #container #feedback {
    -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -icab-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60px;
    right: 17px;
    width: 151px;
    font-size: 9px;
    background: #eeffaa;
    padding: 0 5px; }
  #container #sidebar {
    -o-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    -icab-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    -o-border-radius: 0 0 6px 6px;
    -icab-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #aaaaaa;
    float: right;
    width: 237px;
    margin-top: 42px;
    padding: 0 20px 5px 20px;
    background-color: #eeeeee; }
    #container #sidebar h3 {
      margin-bottom: 10px; }
    #container #sidebar .facebook {
      margin-top: 20px;
      margin-bottom: 5px; }
    #container #sidebar .sidebar_news {
      font-size: 13px; }
      #container #sidebar .sidebar_news ul {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0; }
        #container #sidebar .sidebar_news ul li {
          border-bottom: 1px solid #cccccc;
          margin-bottom: 10px; }
      #container #sidebar .sidebar_news .date {
        font-size: 11px;
        margin-top: 0;
        color: #666666; }
      #container #sidebar .sidebar_news .link {
        margin-top: 3px;
        margin-bottom: 0; }
      #container #sidebar .sidebar_news .mentions {
        margin-top: 4px;
        font-size: 10px;
        color: #777777; }
        #container #sidebar .sidebar_news .mentions a {
          font-style: italic; }
      #container #sidebar .sidebar_news .footer {
        overflow: auto;
        zoom: 1; }
        #container #sidebar .sidebar_news .footer p {
          margin-top: 0; }
        #container #sidebar .sidebar_news .footer .rss {
          float: right; }
        #container #sidebar .sidebar_news .footer .more {
          float: left; }

#flash_notice,
#flash_error {
  width: 650px;
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

td.missing {
  background-color: #fed8d8; }

tr.incumbent {
  background-color: #d9dbfd; }

div.ward_title {
  overflow: auto;
  zoom: 1; }
  div.ward_title h2 {
    float: left;
    margin-right: 10px;
    font-size: 1.6em; }
  div.ward_title p {
    float: left; }
  div.ward_title p.more_info {
    font-size: 10px;
    padding-right: 15px;
    padding-top: 19px; }
  div.ward_title p.rss {
    padding-left: 3px;
    padding-top: 12px;
    padding-bottom: 0;
    margin-right: 13px; }

.grey {
  color: #777777; }

hr.light {
  border-color: #bbbbbb;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none; }

.small {
  font-size: 0.8em; }

div.more_info {
  overflow: hidden;
  zoom: 1; }
  div.more_info h4 {
    margin-bottom: 5px; }
  div.more_info .stats, div.more_info .past_votes {
    float: left; }
  div.more_info .stats {
    width: 313px;
    margin-left: 3px;
    margin-right: 26px; }
    div.more_info .stats li {
      font-size: 0.9em; }
    div.more_info .stats p {
      margin-bottom: 1px;
      font-size: 0.9em; }
  div.more_info table {
    font-size: 0.85em;
    margin-bottom: 1em; }
    div.more_info table th, div.more_info table td {
      padding-left: 5px; }
    div.more_info table th {
      text-align: left;
      width: 70px; }
    div.more_info table tbody em {
      color: green; }
    div.more_info table tbody tr {
      text-align: left; }
      div.more_info table tbody tr td:first-child {
        width: 150px; }
    div.more_info table tbody tr:nth-child(odd) {
      background-color: #dddddd; }

.candidates, .incumbents {
  margin-left: -28px;
  overflow: hidden;
  zoom: 1; }
  .candidates .candidate, .incumbents .candidate {
    -o-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -icab-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #e4e4e4;
    padding-left: 10px;
    background-color: #eeeeee;
    width: 300px;
    float: left;
    margin: 0 0 25px 30px; }
    .candidates .candidate .image, .incumbents .candidate .image {
      float: right; }
    .candidates .candidate .icons a img, .incumbents .candidate .icons a img {
      border-bottom: 2px solid;
      border-color: #3b59bb; }
    .candidates .candidate .ward, .incumbents .candidate .ward {
      color: #777777;
      font-weight: bold;
      font-size: 1.2em;
      margin: 10px 0; }
      .candidates .candidate .ward .since, .incumbents .candidate .ward .since {
        font-weight: normal;
        font-size: 0.65em;
        margin-top: 0; }
    .candidates .candidate .phone, .candidates .candidate .news_text, .candidates .candidate .other_resources, .incumbents .candidate .phone, .incumbents .candidate .news_text, .incumbents .candidate .other_resources {
      margin: 0 0 0.5em 0;
      font-size: 0.75em; }
    .candidates .candidate span.incumbent_link a, .incumbents .candidate span.incumbent_link a {
      font-style: italic;
      font-size: 0.75em; }
    .candidates .candidate p.election_website, .incumbents .candidate p.election_website {
      font-size: 0.85em; }

.candidates .candidate {
  height: 160px; }

.candidates .show_ward, .incumbents .show_ward {
  height: 210px; }

.voting_history table td {
  font-size: 0.9em; }
.voting_history table td, .voting_history table th {
  padding: 5px 10px 5px 10px;
  text-align: right; }
.voting_history table td em {
  color: green; }

div.ward_map {
  margin-left: -15px; }
  div.ward_map img {
    border: none; }

.percent90 {
  width: 90%; }

ul.mentions {
  overflow: hidden;
  zoom: 1;
  list-style: none;
  padding-left: 0; }
  ul.mentions li {
    float: left;
    width: 200px;
    height: 1.4em;
    display: inline; }

ul.pagination {
  margin: 0;
  padding: 0; }
  ul.pagination li.selected span {
    padding: 2px 3px;
    background: gray;
    color: white;
    border: 1px solid gray; }
  ul.pagination .gap_before:before {
    content: "... "; }
  ul.pagination li.page {
    display: inline; }
    ul.pagination li.page a {
      padding: 2px 3px;
      text-decoration: none;
      border: 1px solid gray; }
    ul.pagination li.page a:hover {
      background: gray;
      color: white; }
  ul.pagination li.symbol {
    color: gray; }
    ul.pagination li.symbol span:hover {
      background: white;
      color: gray; }

div#related_news {
  font-size: 0.95em; }
  div#related_news blockquote {
    font-family: Georgia, times, serif; }
  div#related_news h3 {
    color: #555555;
    font-size: 1.3em;
    margin-bottom: 1.5em; }

.bigger-bottom {
  margin-bottom: 2.5em; }

.hidden {
  display: none; }
