body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

table {
  border: 1px solid #bbbbbb; }
  table th, table td {
    border: 1px solid #cccccc; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

td.missing {
  background-color: #fed8d8; }

tr.incumbent {
  background-color: #d9dbfd; }

div.ward_title {
  overflow: auto; }
  div.ward_title h2 {
    float: left;
    margin-right: 10px; }
  div.ward_title p {
    float: left;
    padding-top: 16px;
    font-size: 10px; }

.grey {
  color: #777777; }

.candidates {
  overflow: auto; }
  .candidates .candidate {
    padding-left: 10px;
    background-color: #eeeeee;
    width: 300px;
    height: 200px;
    float: left;
    margin: 0 20px 20px 0; }
    .candidates .candidate .image {
      float: right; }
    .candidates .candidate .icons a img {
      border-bottom: 2px solid blue; }
