body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

table {
  border: 1px solid #bbbbbb; }
  table th, table td {
    border: 1px solid #cccccc; }

a {
  color: #3b59bb;
  text-decoration: none; }
  a img {
    border: none; }

a:hover {
  text-decoration: underline; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  position: relative;
  width: 999px;
  margin: 0 auto;
  background: white;
  padding: 20px 30px;
  border: solid 1px black;
  margin-top: 20px;
  overflow: hidden;
  zoom: 1; }
  #container .twitter {
    position: absolute;
    top: 43px;
    right: 30px; }
  #container #footer {
    clear: both;
    font-size: 80%;
    color: #555555; }
  #container #main, #container #main-full, #container #sidebar {
    margin-bottom: 20px; }
  #container #main {
    float: left;
    width: 680px; }
  #container #feedback {
    position: absolute;
    top: 85px;
    right: 30px;
    width: 151px;
    font-size: 9px;
    background: #eeffaa;
    padding: 0 5px; }
  #container #sidebar {
    float: right;
    width: 250px;
    margin-top: -30px;
    padding: 0 20px 20px 20px;
    background-color: #eeeeee; }
    #container #sidebar .urtak {
      min-height: 345px;
      height: 345px; }
    #container #sidebar .facebook {
      margin-top: 20px; }

#flash_notice,
#flash_error {
  width: 650px;
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

td.missing {
  background-color: #fed8d8; }

tr.incumbent {
  background-color: #d9dbfd; }

div.ward_title {
  overflow: auto;
  zoom: 1; }
  div.ward_title h2 {
    float: left;
    margin-right: 10px;
    margin-bottom: 0; }
  div.ward_title p {
    float: left; }
  div.ward_title p.map {
    padding-top: 18px;
    font-size: 10px; }
  div.ward_title p.rss {
    padding-top: 11px;
    padding-bottom: 0;
    margin-right: 10px; }

.grey {
  color: #777777; }

.small {
  font-size: 0.8em; }

.candidates, .incumbents {
  overflow: hidden;
  zoom: 1; }
  .candidates .candidate, .incumbents .candidate {
    padding-left: 10px;
    background-color: #eeeeee;
    width: 300px;
    float: left;
    margin: 0 20px 20px 0; }
    .candidates .candidate .image, .incumbents .candidate .image {
      float: right; }
    .candidates .candidate .icons a img, .incumbents .candidate .icons a img {
      border-bottom: 2px solid;
      border-color: #3b59bb; }
    .candidates .candidate .ward, .incumbents .candidate .ward {
      color: #777777;
      font-weight: bold;
      font-size: 1.2em;
      margin: 10px 0; }
      .candidates .candidate .ward .since, .incumbents .candidate .ward .since {
        font-weight: normal;
        font-size: 0.65em;
        margin-top: 0; }
    .candidates .candidate .phone, .candidates .candidate .news_text, .candidates .candidate .other_resources, .incumbents .candidate .phone, .incumbents .candidate .news_text, .incumbents .candidate .other_resources {
      margin: 0 0 0.5em 0;
      font-size: 0.75em; }
    .candidates .candidate span.incumbent_link a, .incumbents .candidate span.incumbent_link a {
      font-style: italic;
      font-size: 0.75em; }
    .candidates .candidate p.election_website, .incumbents .candidate p.election_website {
      font-size: 0.85em; }

.candidates .candidate {
  height: 160px; }

.candidates .show_ward, .incumbents .show_ward {
  height: 210px; }

.voting_history table td {
  font-size: 0.9em; }
.voting_history table td, .voting_history table th {
  padding: 5px 10px 5px 10px;
  text-align: right; }
.voting_history table td em {
  color: green; }

div.ward_map img {
  border: none; }

.percent90 {
  width: 90%; }

ul.mentions {
  overflow: hidden;
  zoom: 1;
  list-style: none;
  padding-left: 0; }
  ul.mentions li {
    float: left;
    width: 200px;
    height: 1.4em;
    display: inline; }

ul.pagination {
  margin: 0;
  padding: 0; }
  ul.pagination li.selected span {
    padding: 2px 3px;
    background: gray;
    color: white;
    border: 1px solid gray; }
  ul.pagination .gap_before:before {
    content: "... "; }
  ul.pagination li.page {
    display: inline; }
    ul.pagination li.page a {
      padding: 2px 3px;
      text-decoration: none;
      border: 1px solid gray; }
    ul.pagination li.page a:hover {
      background: gray;
      color: white; }
  ul.pagination li.symbol {
    color: gray; }
    ul.pagination li.symbol span:hover {
      background: white;
      color: gray; }

div#related_news {
  font-size: 0.95em; }
  div#related_news blockquote {
    font-family: Georgia, times, serif; }
  div#related_news h3 {
    color: #555555; }

.bigger-bottom {
  margin-bottom: 2.5em; }

.hidden {
  display: none; }
