@import './shared/shared.css.scss';

// CSS Resets
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, {
  margin: 0 0 0.5em 10px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Georgia, "Bitstream Charter", serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: Georgia, "Bitstream Charter", serif;
}

footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

a {
  color: $link-color;
  text-decoration: none;
  img {
    border: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1em;
  margin-left: 10px;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#main {
  margin-top: 1em;
  h2.title {
    margin-top: 10px;
  }
}

.article {
  margin-bottom: 2em;
  h3 {
    margin-bottom: 5px;
  }
  p.date {
    font-size: 0.75em;
    margin-bottom: 1.1em;
  }
  p.summary {
    font-size: 0.9em;
  }
  p.summary, p.summary b, p.summary em, p.date {
    font-family: Georgia, "Bitstream Charter", serif;
  }
}

p.article-notice {
  color: #666666;
  font-size: 0.9em;
  margin-bottom: 20px;
  margin-top: -10px;
}

.news_article {
  font-size: 0.9em;
  h3 {
      margin-bottom: 0;
  }
  .date {
      font-family: Georgia, "Bitstream Charter", serif;
      margin-top: 0;
      font-size: 0.9em;
  }
}

.breadcrumbs {
  margin-left: 10px;
  color: #999999;
  font-size: 0.9em;
  a {
    color: lighten($link-color, 13);
  }
}

.visible-block-when-mobile {
  display: none;
}

.grey {
  color: #777777;
}

.small {
  font-size: 0.8em;
}

.tiny {
  font-size: 0.5em;
}

#main {
  position: relative;
  #feedback {
    @include drop-shadow(0, 2px, 4px, 0.2);
    margin: 1em 0 1em 10px;
    padding: 1em 1em 0.1em 1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    background-color: #eeffaa;
  }
}

.one-column, .two-columns, .three-columns {
  table {
    font-size: 0.9em;
    margin: 1.5em 0;
    tr {
      border: 1px solid #999999;
    }
    td,th {
      padding: 5px;
    }
    th {
      color: #444444;
      background-color: #dddddd;
      text-align: left;
    }
  }
}

div#questionnaires p, div#questionnaires em, div#questionnaires strong, div#questionnaires a {
  font-family: arial, sans-serif;
  font-size: 13px;
}

div.questionnaire {
  font-size: 0.9em;
}

.notice {
  background-color: #eeffaa;
  border: 1px solid #efffaf;
  margin-bottom: 1.5em;
}

.mini-map {
    overflow: auto;
    zoom: 1;
    margin-bottom: 10px;
    .map, .links {
        float: left;
    }
    .links {
        margin-top: 21px;
        margin-left: 20px;
        p {
            margin: 0;
        }
    }
    .map {
        margin-left: 2px;
        img {
            height: 90px;
        }
    }
}

ul#latest_news {
    margin-left: 0;

    li {
        margin-bottom: 1em;
        list-style: none;
        p {
            margin-bottom: 0;
        }
    }
}

#past_results {
    table {
        font-size: .85em;
        margin-bottom: 1em;
        th,td {
            padding-left: 5px;
        }
        th {
            text-align: left;
            width: 70px;
        }
        tbody {
            em {
                color: green;
            }
            tr {
                text-align: left;
                td:first-child {
                    width: 150px;
                }
            }
            tr:nth-child(odd) {
                background-color: #ddd;
            }
        }
    }
}
