$background-color: #eee;
$mobile-nav-width: 261px;

@mixin drop-shadow($ho, $vo, $b, $a) {
  -o-box-shadow: $ho $vo $b rgba(0, 0, 0, $a);
  -icab-box-shadow: $ho $vo $b rgba(0, 0, 0, $a);
  -khtml-box-shadow: $ho $vo $b rgba(0, 0, 0, $a);
  -moz-box-shadow: $ho $vo $b rgba(0, 0, 0, $a);
  -webkit-box-shadow: $ho $vo $b rgba(0, 0, 0, $a);
  box-shadow: $ho $vo $b rgba(0, 0, 0, $a);
}

@mixin rounded($tl, $tr, $br, $bl) {
  -o-border-radius: $tl $tr $br $bl;
  -icab-border-radius: $tl $tr $br $bl;
  -khtml-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin transition($property, $duration, $delay) {
  -webkit-transition: $property $duration $delay;
  -o-transition: $property $duration $delay;
  -moz-transition: $property $duration $delay;
  transition: $property $duration $delay; 
}

#container {
  position: relative;
}

.menu-holder {
  margin-top: 10px;
}

.menu {
  background-color: $background-color;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 15px;
  padding-left: 20px;
  border: 1px solid #ddd;
  @include rounded(5px, 5px, 2px, 2px);
  @include drop-shadow( 0px, 2px, 5px, 0.2 );
  overflow: auto;

  ul {
    list-style: none;
  }

  a {
    display: block;
    color: #444;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  > ul {
    float: left;

    > li {
      float: left;

      > a {
        line-height: 25px;
        color: #2B4270;
        font-weight: bold;
      }

      > a.no-link {
        text-decoration: none;
        cursor: default;
      }
    }

    > li.has-sub:hover {
      ul {
        display: block;
      }
    }

    ul {
      display: none;
      position: absolute;
      background-color: $background-color;
      @include rounded( 0px, 0px, 5px, 5px);
      @include drop-shadow( 0px, 2px, 5px, 0.2 );
      border: 1px solid #ddd;
      border-top: none;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 1;

      a {
        line-height: 20px;
      }

      li:hover > a {
        background-color: #fcfcfc;
        color: #000;
      }

      li.back {
        display: none;
      }
    }
  }
}

.submenu,
#menu-toggle {
  position: absolute;
  display: none;
}

#menu-trigger {
  position:fixed; 
  left:0; 
  top:5px; 
  color:#fff; 
  display: none;
  z-index: 2;
  
  label {
    display:block; 
    position:absolute; 
    left:0; 
    top:0; 
    cursor:pointer; 
    padding: 10px;
    background:rgba(255,255,255,0.95); 
    @include rounded( 0px, 5px, 5px, 0px );

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }

    .icon-bar {
      display: block;
      width: 22px;
      height: 5px;
      background-color: #333;
      border-radius: 1px;
    }

    .icon-bar+.icon-bar {
      margin-top: 2px;
    }
  } 
}

// Mobile only
@media only screen and (max-width: 639px) {
  #menu-trigger {
    display: block;
    @include transition( left, 0.5s, 0s );
  }

  .menu-holder {
    position:fixed; 
    left:-$mobile-nav-width; 
    width:$mobile-nav-width; 
    top:0; 
    bottom:0; 
    height:auto; 
    margin-top: 0px;
    overflow-x:hidden; 
    background:rgba(255,255,255,0.95); 
    z-index: 1;
    @include transition( left, 0.5s, 0s );
  }

  .menu {
    width: $mobile-nav-width;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: none;
    @include drop-shadow(0,0,0,0);
    background-color: transparent;
    text-align: left;
    overflow: visible;
    @include transition( left, 0.5s, 0s );

    ul {
      width: $mobile-nav-width;
      float: none;

      li {
        display: block;
        position: static;
        width: $mobile-nav-width;
        height: 50px;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;

        a {
          font-size: 18px;
          font-weight: normal;
          font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
          display: block;
          color: #333;
          text-decoration: none;
          padding-left: 20px;
          line-height: 50px;
        }

        ul {
          display: block;
          visibility: hidden;
          left: $mobile-nav-width;
          top: 0px;
          background-color: transparent;
          @include drop-shadow(0,0,0,0);
          border: none;
          padding: 0px;
          margin: 0px;
          @include transition( visibility, 0s, 0.5s );

          li:hover a {
            background: transparent;
          }

          li.back {
            display: block;
          }
        }
      }

      li.has-sub:hover ul {
        visibility: hidden;
      }

      li.has-sub, 
      li.back {
        > a {
          float: left;
          z-index: -1;
          position: relative;
        }

        > label {
          display: block;
          height: 100%;
          cursor: pointer;
        }

        > label::after {
          content: "";
          display:block; 
          padding-top:5px; 
          width:40px; 
          height:40px; 

          background-size: auto 50%;
          background-repeat: no-repeat;
          background-position: center;
        }

      }

      li.has-sub > label::after {
        float: right;
        background-image: url(image-path('arrow-right.png'));
      }

      li.back > label::after {
        float: none;
        background-image: url(image-path('arrow-left.png'));
      }

      li.back > a {
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 40px;
        line-height: 46px;
      }
    }
  }

  #menu-toggle:checked ~ .menu-holder {
    left:0; 
    @include drop-shadow( 1px, 0px, 12px, 0.1 );
  } 

  #menu-toggle:checked ~ #menu-trigger {
    left: 218px; 

    label {
      background: none;
    }
  }

  .submenu:checked ~ .menu {
    left: -$mobile-nav-width;
  }

  /* Hardcoded subnav id's, add more if needed */
  #submenu0:checked ~ .menu #p0,
  #submenu1:checked ~ .menu #p1,
  #submenu2:checked ~ .menu #p2,
  #submenu3:checked ~ .menu #p3,
  #submenu4:checked ~ .menu #p4,
  #submenu5:checked ~ .menu #p5,
  #submenu6:checked ~ .menu #p6,
  #submenu7:checked ~ .menu #p7,
  #submenu8:checked ~ .menu #p8,
  #submenu9:checked ~ .menu #p9,
  #submenu10:checked ~ .menu #p10,
  #submenu11:checked ~ .menu #p11 {
    visibility: visible; 

    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
  }
}
