<form action="http://www.winnipeg.ca/Election/ENG/SelectLocation.asp" method="GET" target="myNewWin" id="ward_tool">
<input class="house_num" name="StNum" value="#" />
<input class="house_street" name="Stname" value="street name" />
<select class="stree_type" name=StType> 
<option value=""  selected>(All)
<option value="AVE" >Ave
<option value="BAY" >Bay
<option value="BLVD" >Blvd
<option value="CIR" >Cir
<option value="CLOSE" >Close
<option value="COVE" >Cove
<option value="CRES" >Cres
<option value="CRT" >Crt
<option value="DR" >Dr
<option value="FWY" >Fwy
<option value="GATE" >Gate
<option value="GROVE" >Grove
<option value="HWY" >Hwy
<option value="KEY" >Key
<option value="LANE" >Lane
<option value="MEWS" >Mews
<option value="PATH" >Path
<option value="PK" >Pk
<option value="PL" >Pl
<option value="PROM" >Prom
<option value="PT" >Pt
<option value="RD" >Rd
<option value="ROW" >Row
<option value="SQ" >Sq
<option value="ST" >St
<option value="TRAIL" >Trail
<option value="WALK" >Walk
<option value="WAY" >Way
</select>
<input class="submit" name="Prompt" value="Please+Select+an+Address" type="hidden" />
<input type="hidden" name="SubPrompt" value="" />
<input type="hidden" name="SelectActionUrl" value="AddressDetailsCandidates.asp?" />
<input id="ward_button" type="submit" value="#{ defined?(button_name) ? button_name : 'submit' }" name="submit" />
</form>
