.ward_title
  %h2= ward.name
  %p= link_to 'map', ward.pdf_map_url
%p
  This race has #{pluralize ward.candidates.size, 'candidate'}.
.candidates
  = render :partial => 'candidate', :collection => ward.candidates
