.ward_title
  %h2= wards_title

%ul
  - for ward in wards
    %li
      = link_to ward.name, "#" + ward.name.parameterize
      %span.grey= pluralize ward.candidates.size, 'candidate'
%br

- for ward in wards
  %a{:name => ward.name.parameterize}
  %br
  = render :partial => 'ward', :locals => { :ward => ward, :show_more_info_link => true}
