.ward_title
  %h2= ward.name
  %p= link_to 'map', ward.pdf_map_url
%p
  There #{prefixed_pluralize ward.candidates.size, 'is', 'are', 'candidate'} in this ward.
  %em.grey.small (Candidates are displayed in random order.)

.candidates
  = render :partial => 'candidate', :collection => ward.candidates
