- title @title
%h2 Political Incumbents
%p
  The incumbent, in politics, is the existing holder of a political office. This term is usually used in reference to elections, in which races can often be defined as being between an incumbent and non-incumbent(s).
  %span.small #{link_to 'source', 'http://en.wikipedia.org/wiki/Incumbent'}
%h2 Current Mayor
.incumbents
  = render :partial => 'candidate', :locals => { :candidate => @mayor, :hide_incumbent_link => true, :show_ward => true }
%h2 Current City Councillors Running for Re-Election
.incumbents
  = render :partial => 'candidate', :collection => @incumbents, :locals => { :hide_incumbent_link => true, :show_ward => true }
%p
  %em To see all current City Councillors, including those not running for re-election, visit the #{ link_to "City's Council page", 'http://www.winnipeg.ca/council/'}.