- title 'Welcome'

%h2 Election Countdown

%p
  On Wednesday October 27 of 2010 the citizens of Winnipeg go to the polls to elect their Mayor, City Councillors and School Trustees.

%strong 
  - if @days_until_election == 0
    The election is today.
  - elsif @days_until_election > 0
    %p  
      There #{prefixed_pluralize(@days_until_election,'is','are','day')} until the election.
  - else
    The election has already occured.

%h2
  Select Your Ward

.ward_map
  = image_tag '/images/civic_wards.gif', :usemap => '#Map'

%map{:name=>"Map", :id=>"Map"} 
  <area shape="poly" coords="26,365,29,330,21,336,23,280,53,280,56,194,94,189,158,188,155,267,132,267,133,378,126,384,64,352" href="/ward/St_Charles" alt="St. Charles" title="St. Charles"/> 
  <area shape="poly" coords="45,361,55,394,51,445,16,447,12,521,100,522,238,503,241,541,289,515,260,472,279,408,256,411,263,333,239,342,209,338,128,354,135,379,121,387,61,353" href="/ward/Charleswood_-_Tuxedo" alt="Charleswood - Tuxedo" title="Charleswood - Tuxedo" /> 
  <area shape="poly" coords="156,227,216,229,216,180,277,202,276,228,292,244,284,267,280,329,238,342,205,337,131,354,134,269,157,267" href="/ward/St_James_-_Brooklands" alt="St. James - Brooklands"  title="St. James - Brooklands"/> 
  <area shape="poly" coords="215,179,214,149,270,147,272,129,364,171,335,233,432,264,395,268,379,283,291,244,274,227,275,206" href="/ward/Point_Douglas" alt="Point Douglas"  title="Point Douglas"/> 
  <area shape="poly" coords="280,327,285,277,291,243,376,281,343,301,338,325,319,335,304,325" href="/ward/Daniel_McIntyre" alt="Daniel McIntyre"  title="Daniel McIntyre"/> 
  <area shape="poly" coords="340,232,366,167,409,121,430,131,439,124,445,129,446,152,423,167,422,206,398,222,402,240,428,259,385,249" href="/ward/Mynarski" alt="Mynarski"  title="Mynarski"/> 
  <area shape="poly" coords="216,147,211,69,331,65,328,25,348,15,487,102,465,129,435,128,411,122,366,169,275,129,269,145" href="/ward/Old Kildonan" alt="Old Kildonan"  title="Old Kildonan"/> 
  <area shape="poly" coords="492,94,620,179,540,179,525,202,494,184,483,198,441,176,423,214,414,211,427,198,425,167,447,154,447,128,466,126" href="/ward/North Kildonan" alt="North Kildonan"  title="North Kildonan"/> 
  <area shape="poly" coords="576,181,576,217" href="#" /> 
  <area shape="poly" coords="570,192" href="#" /><area shape="poly" coords="578,177,577,218,679,217,698,267,695,301,658,299,657,341,572,343,565,302,493,282,514,244,532,217,534,195,540,177" href="/ward/Transcona" alt="Transcona"  title="Transcona"/> 
  <area shape="poly" coords="576,474,513,509,439,337,402,349,381,344,385,320,402,300,392,277,405,265,435,265,564,303,575,343" href="/ward/St_Boniface" alt="St. Boniface" title="St. Boniface"/> 
  <area shape="poly" coords="579,474,515,513,440,338,415,345,419,381,388,399,375,386,371,401,395,398,414,426,386,424,392,454,371,451,364,464,376,488,384,502,402,500,411,490,452,477,451,485,470,535,425,562,402,545,388,568,390,586,394,593,362,608,361,622,381,613,382,638,394,669,410,699,407,710,484,662,479,637,552,598,551,582,540,563,551,547,556,544,582,539" href="/ward/St_Vital" alt="St. Vital" title="St. Vital"/> 
  <area shape="poly" coords="386,632" href="#" /><area shape="poly" coords="376,283,343,304,341,329,347,341,334,348,357,403,356,424,361,446,360,463,370,449,392,455,395,442,385,424,395,422,411,426,410,405,386,400,372,396,392,391,412,378,428,358,418,346,385,343,391,311,399,299,392,280" href="/ward/Fort_Rouge_-_East_Fort_Garry" alt="Fort Rouge - East Fort Garry" title="Fort Rouge - East Fort Garry"/> 
  <area shape="poly" coords="294,514,374,483,355,426,354,401,335,351,347,343,335,324,317,334,297,324,279,328,266,338,256,413,279,408,262,472" href="/ward/River_Heights_-_Fort_Garry" alt="River Heights - Fort Garry" title="River Heights - Fort Garry" /> 
  <area shape="poly" coords="243,541,243,549,252,549" href="#" /> 
  <area shape="poly" coords="253,670,246,667,247,778,404,690,380,639,382,619,356,617,356,609,399,593,387,564,400,547,425,561,468,532,449,476,387,502,376,484,297,515,242,546,252,546" href="/ward/St_Norbert" alt="St. Norbert" title="St. Norbert" /> 
  <area shape="poly" coords="434,264,418,250,397,227,413,214,423,215,442,178,483,197,494,184,525,201,537,189,533,210,493,281" href="/ward/Elmwood_-_East_Kildonan" alt="Elmwood - East Kildonan" title="Elmwood - East Kildonan"/> 
