- title @title

= render :partial => 'ward', :locals => { :ward => @ward, :show_past_votes => true, :show_stats => true, :show_ward_news => true, :ward_url => url_for(:controller=>'info',:action=>'mayor'), :candidate_type => 'Mayoral'}
