- title @title

%div{ :id => (@candidate.qa?) ? 'with_questionnaire' : ''}
  .candidates
    = render :partial => 'candidate', :locals => { :candidate => @candidate, :show_ward => true, :hide_candidate_link => true }
  
- if @candidate.qa?        
  %div#questionnaire
    %h2 Election Questionnaire
    :markdown
      #{@candidate.qa}
  %br.clear
  
