- title "School Division"

%p
  %strong Name:
  =h @school_division.name
%p
  %strong Description:
  =h @school_division.description
%p
  - if @school_division.image?
    %p
      %strong Map:
    = image_tag @school_division.image.url(:small)
  - else
    %strong Image Missing!

%p
  = link_to "Edit", edit_school_division_path(@school_division)
  |
  = link_to "Destroy", @school_division, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", school_divisions_path
